.services {
  padding: 1.5rem;
  border-bottom: 0.2rem solid #d2601a;
}

//Sémantic éléments :
  // cards' title
#root > div > div.services > div > div > div > div.header {
  // background-color: #d2601a;
  background-color: rgba(210,96,26, 0.7);
  border-radius: 0.5rem;
  height: 4.5rem;
  font-size: 1.4rem;
}

// card's description
#root > div > div.services > div > div > div > div.description {
  color: #fff1e1;
  font-size: 1.2rem;
  background-color: rgba(29,60,69, 0.7);
  margin-top: 3rem;
  border-radius: 0.5rem;
}

//cards
#root > div > div.services > div > div > div {
  background-color:rgb(224, 225, 226);
  transition: box-shadow .3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: box-shadow .3s;
  -webkit-transition-timing-function: ease-in-out;
      &:hover{
      -webkit-box-shadow: 0px 0px 10px 3px rgba(29,60,69,1);
      -moz-box-shadow: 0px 0px 10px 3px rgba(29,60,69,1);
      box-shadow: 0px 0px 10px 3px rgba(29,60,69,1);
      cursor: pointer;
      transition: box-shadow 0.6s;
      transition-timing-function: ease-in-out;
      -webkit-transition: box-shadow 0.6s;
      -webkit-transition-timing-function: ease-in-out;
      }
}