.searchBar {
  padding: 2.5rem;
  border-bottom: 0.2rem solid #d2601a;
  text-align: center;
  &__title {
    color: #d2601a;
  }
  &__paragraphe {
    font-size: 1.5rem;
    font-style: italic;
  }
  &__inputs {
    display: flex;
    justify-content: space-evenly;
    &__input, &__dropdown {
    width: 50%;
    text-align: center;
    &__dropdown {
      margin-left: 0.2rem;
    }
  }
  }
  
}

// Sémantic elements 
#root > div > div.searchBar > div > div.searchBar__inputs__dropdown > div > div.divider.text, #root > div > div.searchBar > div > div.searchBar__inputs__dropdown > div > div.visible.menu.transition > div {
  font-size: 1.2rem;
}

@media (max-width: 1220px){
  .searchBar {
    &__paragraphe {
      font-size: 1.2rem;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
       &__dropdown {
        margin-left: 0rem;
        margin-top: 0.2rem;
    }
    } 
    
  }
}

@media (max-width: 610px){
  .searchBar {
    &__paragraphe {
      font-size: 1.2rem;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
       &__dropdown {
        margin-left: 0rem;
        margin-top: 0.2rem;
    }
    } 
    
  }
}