.description {
  position: relative;
  &__article {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,241,225, 0.8);
    padding: 1.5rem;
    position: absolute;
    width: 50vw;
    left: 20vw;
    top: 1rem;
    border-radius: 1.5rem;
    &__title {
      color: #d2601a;
      font-size: 2rem;
    }
    &__paragraphe {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      font-style: italic;
      font-weight: bold;
    }
  }
  &__btn {
    background-color: #d2601a;
    border: 1px solid transparent;
    margin: auto;
    width: 60%;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 2rem .5rem;
    color: #fff1e1;
    transition: background-color .5s, color .5s, border .5s;
    transition-timing-function: ease-in-out;
    -webkit-transition: background-color .5s, color .5s, border .5s;
    -webkit-transition-timing-function: ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgb(29,60,69);
      color: #d2601a;
      border: 1px solid #fff1e1;
      transition: background-color .5s, color .5s, border .5s;
      transition-timing-function: ease-in-out;
      -webkit-transition: background-color .5s, color .5s, border .5s;
      -webkit-transition-timing-function: ease-in-out;
    }
  }
}

.background {
  height: 30rem;
  width:  90vw;
  margin: auto;
  background-image: url('../../assets/2552.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

@media (max-width: 1220px){
  .description{
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    &__title {
      font-size: 1.6rem;
    }
    &__paragraphe {
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }
  }
  &__btn {
    width: 100%;
    font-size: 1.6rem;
    padding: .5rem;
  }
  }
}

@media (max-width: 750px){
  .description{
    &__article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 1rem;
      left: 5vw;
      width: 80vw;
      &__title {
        font-size: 1.3rem;
      }
      &__paragraphe {
        font-size: 1rem;
        margin-left: 1.2rem;
      }
    }
    &__btn {
      width: 100%;
      font-size: 1.3rem;
      padding: .5rem;
    }
    }
}

@media (max-width: 300px){
  .description{
    &__article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 1rem;
      left: 5vw;
      width: 80vw;
      &__title {
        font-size: 1rem;
      }
      &__paragraphe {
        font-size: 0.8rem;
        margin-left: 1.2rem;
      }
    }
    &__btn {
      width: 100%;
      font-size: 1rem;
      padding: .5rem;
    }
    }
}